*{
    margin: 0;
    box-sizing: border-box;
    border-radius: 0%;
}
.hj{
    width: 5%;
    height: 8%;
margin-top: 20px;

}
.aa{
    text-align: center;
    box-sizing: border-box;
    background: darkgoldenrod;
    border-radius: 0;
}
a{
    margin: 40px;
    color: azure;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    font-family: fantasy;
}
.aa a:hover{
    background-color: rgb(30, 0, 0);
}

.about{
    text-align: center;
    background:lightsalmon;
}
video{
    width: 100%;
}

section h1{
    padding: 15px 0;
    font-family: 'Franklin Gothic Medium';
}
section h3{
    padding: 10px 0;
    margin-top: 30px;
}
section p{
    width: 80%;
    margin: 0 auto;
}
.sec1{
    display: flex;
    flex-direction: row;
    background: cornsilk;
}
.sec1 h2{
    display: flex;
}
.left, .right{
    width: 50%;
}
.left p{
    width: 60%;
}
.left{
    margin: 30px 0;
    margin-left: 75px;
}
.left h2{
    padding: 30px;
}
.left h3, p, li{
    padding: 5px 0;
}

.right{
    padding-top: 120px;
margin-left: 90px; 
}
.right p{
    padding: 10px ;
}
h3{
    font-family: sans-serif;
}

.fb, .fg, .fp{
width: 30%;
height: 40vh;
margin: 15px;
margin-left: 20px;
border-radius: 30px;
}
.pics{
    background: cornsilk;
}
img:hover {
  transform: scale(0.9);
  transition: transform 0.3s;
}
footer{
    text-align: center;
    background: darkgoldenrod;
    border-radius: 0;
    height: 10vh;
    color: white;
    padding: 10px;
}
