*{
    background-color: rgb(30, 0, 0);
    margin: 0;
    box-sizing: border-box;
    border-radius: 0%;
}

section{
    display: flex;
    padding: 10px;
}
.right, .left{
    width: 50%;
}
img{
    width: 100%;
    height: 100vh;
margin-top: 24px;
border-radius: 0;
}
.right{

    padding: 75px;
    color:darkgoldenrod;
    align-items: center;
}
button{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(41, 21, 21);
}
button{
    width: auto;
    float: right;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(215, 186, 100);
    margin-top: 20PX;
}
p{
    padding: 10px;
    color:darkgoldenrod;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 55px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.fb, .fg, .fp{
    margin: 5px;
    border-radius: 60px;
    margin-top: 20px;
    width: 30%;
    height: 30vh
}
nav{
text-align: center;

}
.aa img{
    width: 6%;
    height: 9vh;
}
.aa{
    background: darkgoldenrod;
    padding: 10px;
}
nav a{
    margin: 40px;
    color: azure;
    text-decoration: none;
    font-size: 30px;
font-family: cursive;
padding: 8px;
background: none;

}
nav a:hover{
    background-color: rgb(30, 0, 0);
}

footer{
    text-align: center;
}
footer p{
    background: darkgoldenrod;
    color: aliceblue;
}

img:hover {
  transform: scale(0.9);
  transition: transform 0.3s;
}
